.suggestion__container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px !important;
}

.title {
  align-self: start;
  font-weight: 600;
  width: 100%;
  margin-bottom: 30px;
  font-size: 37px;
  color: #ebeef5;
}

.card__containers {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30px 5px;
}
