.footer {
  margin-top: auto !important;
  bottom: 0;
  height: 200px;
  width: 100%;
  background: rgba(18, 24, 41, 0.096);
  backdrop-filter: blur(24px);
}

.footer__container {
  width: 70%;
  margin: 0 auto;
  padding: 30px 120px;

  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__logo {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: rgb(113 63 187);
  font-size: 20px;
  font-weight: 600;
  flex-direction: row;
}

.footer__logo img {
  width: 50px;
}

.footer__text {
  text-align: center;
  color: #767e94;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
}
